* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}
.container .Imagen {
  width: 135px; 
  height: 135px; 
  border-radius: 50%;
  border: 3px solid #ddd; 
}
.container{
  font-family: Arial, sans-serif;
  font-size: 1.2em; 
  line-height: 1.2;
}

body {
  background-color: #f4f4f4;
}

.titulo h1 {
  text-align: center;
  font-size: 46px;
}

.container {
  width: 80%;
  margin: auto;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
}

/* objetivos */

.objetivos {
  padding: 20px;
}

/* Footer  */
footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  font-size: 1.4em;
}